* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    position: relative;
}

header {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

.background-img {
    background-image: url(./images/grass.jpg);
}

nav {
    background-color: #4caf50;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0px 0px 4px 2px rgba(17, 81, 19);
}

nav a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

nav a:hover {
    background-color: #388e3c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    margin-right: 20px;
}

@media screen and (min-width: 1201px) {
    .key-points-box {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 0 10px;
    }

    #additional-section {
        flex-direction: column;
    }

    .key-points-box {
        width: 100%;
        margin-right: 0;
    }

    .grid-items {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    nav a {
        margin: 0 10px;
    }
}

@media screen and (max-width: 480px) {
    .key-points-box {
        padding: 15px;
        font-size: 14px;
    }
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
}

.menu-toggle:hover {
    background: rgba(14, 104, 4, 0.4);
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: yellow;
    margin: 5px 0;
    transition: 0.4s;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        width: 100%;
        text-align: center;
    }

    nav.collapsed ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        display: block;
        padding: 10px;
        margin: 5px 0;
        color: #fff;
    }

    .menu-toggle {
        display: block;
    }
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}


h1 {
    font-size: 2.5rem;
}

h3 {
    color: #115113;
    font-size: 25px;
}

.article-heading {
    text-align: center;
    margin-top: 2rem;
    color: #115113;
}

article {
    text-align: center;
    margin: 0 auto;
}

article>p {
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 1.5em;
}

.pet-image {
    max-width: 100%;
    border-radius: 10px;
    margin: 1rem auto;
}

.pet-image:hover img {
    transform: scale(1.1);
    /* Increase the size by 10% on hover */
}

footer>p {
    font-size: 1rem;
}

.social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    padding: 1rem;
}

.social-icons .fa-facebook:hover {
    color: white;
    transition: all 0.2s;
}

.social-icons .fa-x-twitter:hover {
    color: white;
    transition: all 0.2s;
}

.social-icons .fa-instagram:hover {
    color: white;
    transition: all 0.2s;
}

button {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #388e3c;
}

footer {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}


/* ABOUT US styles: */

#about h3 a {
    text-decoration: none;
    color: #115113;
}

ul#key-points {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    display: flex;
    justify-content: start;
}

ul#key-points li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    vertical-align: middle;
}

ul#key-points li a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

ul#key-points li a:hover {
    background-color: #f0f0f0;
}

#additional-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.key-points-box {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

.key-points-box h3>a {
    text-decoration: none;
    color: #115113;
    font-size: 20px;
    margin-bottom: 10px;
}

.key-points-box h3>a:hover {
    background-color: #f0f0f0;
}

.key-points-box p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

@media screen and (max-width: 1200px) {
    .key-points-box {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #additional-section {
        flex-direction: column;
    }

    .key-points-box {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .key-points-box {
        padding: 15px;
        font-size: 14px;
    }
}


/* MEET THE TEAM styles: */

.grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    grid-auto-rows: 13rem;
    padding: 2rem;
    background-image: url(./images/grass.jpg);
    border-radius: 0.25rem;
    box-shadow: 0 0 0 3px rgb(18, 59, 2);
}

.grid-item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px ridge black;
    border-radius: 9999px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.grid-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 150px;
    height: 40px;
    border-radius: 0.25rem;
    margin-top: -40px;
    box-shadow: 5px 5px 0 0 rgb(36, 80, 18);
}

.box {
    width: 1086px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1rem;
    margin: 50px auto;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 306px;
    height: 346px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index: -1;
}

.card:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.card .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
}

.card:hover .imgBx {
    bottom: 80px;
}

.card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
}

.card .details h2 span {
    font-weight: 500;
    font-size: 16px;
    color: #f38695;
    display: block;
    margin-top: 5px;
}


.details h2 a {
    text-decoration: none;
}

/* Media query for smaller screens */
@media screen and (max-width: 700px) {
    .box {

        width: 100%;
        margin: 0;
    }

    .card {
        width: 100%;
    }
}


/* CONTACTS styles : */

#contact article {
    max-width: 700px;
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
}

#contact-form {
    max-width: 700px;
    margin: 0 auto;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#contact-form button {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#contact-form button:hover {
    background-color: #388e3c;
}

/* button {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #388e3c;
} */

#success-message {
    display: none;
    color: #115113;
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: 140px;
    border: none;
    max-width: 50%;
}

/* overlay card titles */

.card {
    position: relative;
}

.imgBx::before {
    content: attr(data-title);
    font-family: "Lato", sans-serif;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #115113;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: normal;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;

}

.imgBx:hover::before {
    opacity: 1;
}