body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

nav {
    background-color: #4caf50;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0px 0px 4px 2px rgba(17, 81, 19);
}

nav a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

nav a:hover {
    background-color: #388e3c;
}

ul {
    list-style-type: none;
    /* Remove default list styling */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    display: flex;
    /* Use flexbox to make the list items appear horizontally */
    justify-content: center;
    flex-wrap: wrap;
}

li {
    margin-right: 20px;
    /* Add spacing between list items */
}

@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    nav a {
        margin: 0 10px;
    }
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

h1,
h2 {
    color: #fff;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    color: #115113;
    font-size: 25px;
}

.article-heading {
    text-align: center;
    margin-top: 3rem;
}

article {
    text-align: center;
    margin: 0 auto;
}

article>p {
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 1.5em;
}

.pet-image {
    max-width: 100%;
    border-radius: 10px;
    margin: 1rem auto;
}


footer>p {
    font-size: 1rem;
}

.social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    padding: 1rem;

}

.social-icons .fa-facebook:hover {
    color: white;
    transition: all 0.2s;
}

.social-icons .fa-x-twitter:hover {
    color: white;
    transition: all 0.2s;
}

.social-icons .fa-instagram:hover {
    color: white;
    transition: all 0.2s;
}


button {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #388e3c;
}

footer {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

/* About us styles: */
main section {
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main section ul {
    list-style-type: none;
    padding-left: 20px;
}

main section li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Meet the Team styles: */

.grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    grid-auto-rows: 13rem;
    padding: 2rem;
    background-image: url(./images/grass.jpg);
    border-radius: 00.25rem;
    box-shadow: 0 0 0 3px rgb(18, 59, 2);
}

.grid-item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px ridge black;
    border-radius: 9999px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.grid-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 150px;
    height: 40px;
    border-radius: 0.25rem;
    margin-top: -40px;
    box-shadow: 5px 5px 0 0 rgb(36, 80, 18);
}


/* Contacts styles : */
#contact article {
    max-width: 700px;
    margin: 0 auto 20px;
    text-align: center;
}

#contact-form {
    max-width: 700px;
    margin: 0 auto;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contact-form button {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#contact-form button:hover {
    background-color: #388e3c;
}

button {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #388e3c;
}